{
  "presets": [
    "babel-preset-expo",
    "react-native",
    "flow"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
